@font-face {
  font-family: "xenofont";
  src: url("../fonts/xenofont.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "xenofont", Helvetica, sans-serif;
}

.content {
  display: flex;
  background-image: url(../img/Xenoblade_Chronicles_Definitive_Edition_Scenic_2_2560x1440.jpg);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  color: white;
  font-family: "xenofont";
  font-size: 3rem;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listitems {
  list-style: none;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.listitems button {
  width: 4rem;
  border: none;
  border-radius: 3px;
  font-family: "xenofont";
}

.shulkwithcaption {
  display: flex;
  margin-top: 6.5rem;
  background: rgba(0, 0, 0, 0.6);
  width: 400px;
  height: 375px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 5px;
  color: white;
}

.shulk {
  background: url(../img/5srgyddxsmp41.png);
  background-size: cover;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
}

.bottomsection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}
